@charset "utf-8";
/*********** 日曆 ************/
input.calendar {
    margin: 2px 0;
    padding: 5px;
    color: #555;
    font-size: 16px;
    background: url(../images/calendar/calendar.png) 97% 50% no-repeat;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    vertical-align: middle;
    cursor: pointer;
}
.ic_datepicker {
    position: absolute;
    top: -9999px;
    left: -9999px;
    width: 230px;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    border: 1px solid #008496;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 999;
}
.ic_header {
    position: relative;
    background: #008496;
    height: 35px;
}
/*左右箭頭*/
.ic_prev,
.ic_next {
    position: absolute;
    top: 0;
    width: 10%;
    height: 35px;
    cursor: pointer;
}
.ic_prev:hover,
.ic_next:hover {
    background-color: #ff6054;
}
.ic_prev:after,
.ic_next:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    border: 8px solid transparent;
}
/*左箭頭*/
.ic_prev {
    left: 0;
}
.ic_prev:after {
    top: 10px;
    left: -2px;
    border-right-color: #fff;
}
/*右箭頭*/
.ic_next {
    right: 0;
}
.ic_next:after {
    top: 10px;
    right: -2px;
    border-left-color: #fff;
}
/*月、年*/
.ic_month {
    position: absolute;
    top: 5px;
    left: 13%;
    width: 40%;
}
.ic_year {
    position: absolute;
    top: 5px;
    right: 13%;
    width: 32%;
}
.ic_header select {
    width: 100%;
    padding: 2px;
    font-size: 15px;
    cursor: pointer;
}
.ic_header select:focus {
    outline: none;
}
/*星期、日*/
.ic_datepicker table {
    width: 100%;
    color: #888;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
}
.ic_weekset td, .ic_dayset td {
    width: 14%;
    padding: 5px;
    color: #777;
    text-transform: uppercase;
}
.ic_weekset tr:last-child {
    border-bottom: 1px solid #d2d2d2;;
}
.ic_dayset td:first-child,
.ic_dayset td:last-child {
    background:  #f3f3f3;
}
.ic_dayset tr:last-child > td:first-child {
    -webkit-border-radius: 0 0 0 5px;
    -moz-border-radius: 0 0 0 5px;
    -ms-border-radius: 0 0 0 5px;
    -o-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
}
.ic_dayset tr:last-child > td:last-child {
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    -ms-border-radius: 0 0 5px 0;
    -o-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
}
.ic_weekset td {
    color: #666;
    background: #eeffff;
}
.ic_dayset .ic_dayall {
    cursor: pointer;
}
.ic_dayset .ic_dayall:hover,
.ic_dayset .ic_dayall:active,
.ic_dayset .ic_dayall:focus {
    color: #444;
    background: #d2d2d2;
}
.ic_dayset .ic_today,
.ic_dayset .ic_today:first-child,
.ic_dayset .ic_today:last-child {
    color: #444;
    background: #ffee6d;
}
.ic_dayset .ic_today:hover,
.ic_dayset .ic_today:active,
.ic_dayset .ic_today:focus {
    background: #e4ca00;
}
.ic_dayset .ic_day_selected,
.ic_dayset .ic_day_selected:first-child,
.ic_dayset .ic_day_selected:last-child {
    color: #444;
    background:  #ffb3aa;
}
.ic_dayset .ic_day_selected:hover,
.ic_dayset .ic_day_selected:active,
.ic_dayset .ic_day_selected:focus {
    background: #ff9083;
}