<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
         <handlers>
            <add name="PHP via FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\PHP7\php-cgi.exe" resourceType="File" requireAccess="Script" />
        </handlers>
        <defaultDocument>
          <files>
            <add value="member.php" />
          </files>
        </defaultDocument>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="ppmoney" />
            </rewriteMaps>
            <rules>
                <rule name="member">
                     <match url="^(Member/)(.*)$" ignoreCase="false" />
    			    <action type="Rewrite" url="./operate/member.php" />
                    <serverVariables>
                        <set name="func" value="{R:2}" />
                    </serverVariables>
                </rule>
                <rule name="order">
                     <match url="^(Order/)(.*)$" ignoreCase="false" />
    			    <action type="Rewrite" url="./operate/order.php" />
                    <serverVariables>
                        <set name="func" value="{R:2}" />
                    </serverVariables>
                </rule>   
                <rule name="index">
                     <match url="^(Index/)(.*)$" ignoreCase="false" />
    			    <action type="Rewrite" url="./operate/index.php" />
                    <serverVariables>
                        <set name="func" value="{R:2}" />
                    </serverVariables>
                </rule>              
                <!--<rule name="ppmoney">
                     <match url="^(Game)(.*)$" ignoreCase="false" />
    			<action type="Rewrite" url="./BaseClass/Setting.php" />
                </rule>		
		        <rule name="ppmoney2" stopProcessing="true">
                    <match url="^(game)[0-9](.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    </conditions>
                     <action type="Rewrite" url="./H5Game/{R:0}" />
                </rule>
                <rule name="ppmoney3" stopProcessing="true">
                    <match url="^lib/(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    </conditions>
                     <action type="Rewrite" url="./H5Game/{R:0}" />
                </rule>
                <rule name="ppmoney4">
                    <match url="^(api\-)(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./API/include/rule.php" />
                </rule>
                <rule name="ppmoney5">
                    <match url="^(gameBanner)(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="./H5Game/{R:0}" />
                </rule>
                <rule name="ppmoney6" stopProcessing="true">
                    <match url="^(Notify)$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" />
                    </conditions>
                    <action type="Rewrite" url="./BaseClass/Setting.php" />
                </rule>

                <rule name="ppmoney7" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    </conditions>
                     <action type="Rewrite" url="./BaseClass/Setting.php" />
                    <serverVariables>
                        <set name="func" value="{R:0}" />
                    </serverVariables>
                </rule>-->
            </rules>
        </rewrite>
    </system.webServer>
    <system.web>
        <identity impersonate="false" />
    </system.web>
</configuration>
